@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
$empty:rgba(4,17,4,1.0);

html {overflow:hidden;}
body {font-family:"Press Start 2P", monospace; width:100%; height:100%; background-color:$empty; color:green; overflow:hidden; position:fixed; margin:0 auto; font-size:10px;}
body.start {
	#grid {font-size:2.5rem;}
	#controls {display:none;}
}
body:fullscreen, body:full-screen, body:-ms-fullscreen, body:-webkit-full-screen, body:-moz-full-screen {background-color:$empty !important; font-size:20px;
	#wrap {max-width:auto;}
}
body:not(.start) {cursor:none;}

@media screen and (max-device-width:700px), screen and (orientation:portrait) {
	body {font-size:15px;}
}
