html(prefix="og: http://ogp.me/ns#")
  head
    title Ops
    meta(name="description" title="A puzzle game.")
    meta(charset="UTF-8")
    meta(property="og:title" content="Ops")
    meta(property="og:image" content="http://justen.us/media/ops-screenshot.png?v4")
    meta(property="og:url" content="http://justen.us/ops")
    link(rel="icon" href="media/ops.ico?v2" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="styles/style.css")
    script(src="scripts/app.js" type="text/javascript")
  body.start
    div#wrap
      div#game-screen
