/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow: hidden; }

body {
  font-family: "Press Start 2P", monospace;
  width: 100%;
  height: 100%;
  background-color: #041104;
  color: green;
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  font-size: 10px; }

body.start #grid {
  font-size: 2.5rem; }

body.start #controls {
  display: none; }

body:fullscreen, body:full-screen, body:-ms-fullscreen, body:-webkit-full-screen, body:-moz-full-screen {
  background-color: #041104 !important;
  font-size: 20px; }
  body:fullscreen #wrap, body:full-screen #wrap, body:-ms-fullscreen #wrap, body:-webkit-full-screen #wrap, body:-moz-full-screen #wrap {
    max-width: auto; }

body:not(.start) {
  cursor: none; }

@media screen and (max-device-width: 700px), screen and (orientation: portrait) {
  body {
    font-size: 15px; } }
